<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{components :: head(title=${'NTUC LH Bank'})}">
</th:block>

<body>
    <th:block th:replace="~{components :: nav}"></th:block>

    <h1>Welcome, <span sec:authentication="name"></span></h1>

    <div style="width: 80%; margin:auto; min-height: 100%; height: auto;">
        <div class="index-section-one">
            <img src="/landingpage1.png" alt="">
        </div>
        <div class="index-section-two">
            <img src="/landingpage2.png" alt="">
        </div>
        <div class="index-section-three">
            <img src="/landingpage3.png" alt="">
        </div>
    </div>
    <th:block th:replace="~{components :: footer}"></th:block>
</body>

</html>