<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <th:block th:replace="~{components :: nav}"></th:block>
    <div class="index-section-one">
        
    </div>
    <div class="index-section-two">

    </div>
    <div class="index-section-three">

    </div>
    <th:block th:replace="~{components :: footer}"></th:block>
</body>
</html>