<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{components :: head(title=${'NTUC LH Bank'})}">
</th:block>
<body>
  <th:block th:replace="~{components :: nav}"></th:block>
  <h3>Welcome, <span th:text="${custDetl.name}"></span></h3>
    <hr>
    <br>
    <h3>Update customer details</h3>
    <div style="width: 100%; margin:auto; text-align: left; min-height: 100vh;">
        <!-- form for updating customer details -->
        <form action="/update" method="post" style="padding-top: 20px; padding-left: 40px;">
            <table>
              <tr>
                <td><label for="nric">NRIC / Identification</label></td>
                <td><input type="text" id="nric" name="nric" th:value="${custDetl.NRIC}"></td>
                <td><input type="hidden" name="userid" th:value="${custDetl.id}"></td>
              </tr>  
              <tr>
                    <td><label for="emailaddress">Email Address</label></td>
                    <td><input type="text" id="emailaddress" name="emailaddress" th:value="${custDetl.email}"></td>
                </tr>
                <tr>
                  <td><label for="address">Address</label></td>
                  <td><input type="text" id="address" name="address" th:value="${custDetl.address}"></td>
                </tr>
                <tr>
                  <td><label for="phonenumber">Mobile Number</label></td>
                  <td><input type="text" id="phonenumber" name="phonenumber" th:value="${custDetl.phoneNumber}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <th:block th:replace="~{components :: footer}"></th:block>
</body>
</html>