<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{components :: head(title=${'NTUC LH Bank'})}">
</th:block>

<body>
    <th:block th:replace="~{components :: nav}"></th:block>
    <div style="width: 50%; margin:auto; text-align: center; min-height: 100vh;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Account ID</th> 
                <th scope="col">Account Holder Name</th>
                <th scope="col">Balance</th>
                <th scope="col">Account Type</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="bankaccount : ${acclist}">
                <td th:text="${bankaccount.id}"></td>
                  <td th:text="${bankaccount.accHolderName}"></td>
                  <td th:text="${bankaccount.balance}"></td>
                  <td th:text="${bankaccount.accountType}"></td>
                  <td><a th:href="@{/deposit/{id} (id=${bankaccount.id})}"><i class="fa-solid fa-circle-dollar-to-slot"></i></a></td>
                  <td><a th:href="@{/withdraw/{id} (id=${bankaccount.id})}"><i class="fa-solid fa-hand-holding-dollar"></i></a></td>
              </tr>
            </tbody>
          </table>

          
          

          
    </div>
    <th:block th:replace="~{components :: footer}"></th:block>

    
</body>

</html>