<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{components :: head(title=${'NTUC LH Bank'})}">
</th:block>

<body>
    <th:block th:replace="~{components :: nav}"></th:block>
    <div style="width: 50%; margin:auto; text-align: center; min-height: 100vh;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Transaction ID</th> 
                <th scope="col">Account Holder Name</th>
                <th scope="col">Transaction Date</th>
                <th scope="col">Transaction Type</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="accountTransaction : ${transactions}">
                <td th:text="${accountTransaction.transId}"></td>
                  <td th:text="${bankacct.accHolderName}"></td>
                  <td th:text="${accountTransaction.transDate}"></td>
                  <td th:text="${accountTransaction.transactionType}"></td>
              </tr>
            </tbody>
          </table>

          
          

          
    </div>
    <th:block th:replace="~{components :: footer}"></th:block>

    
</body>

</html>